// Global styles definitions

:root { 
  // CSS Variables
  --black: #000;
  --white: #ffffff;

  --red-800: rgb(255, 45, 45);
  --red-dark-800: rgb(214, 41, 41);
  --gray-200: rgb(224, 224, 224);
  --gray-400: rgb(201, 201, 201);
  --gray-500: rgb(126, 126, 126);
  --gray-600: rgb(82, 82, 82);
  --gray-900: rgb(32, 32, 32);
  --cyan-300: rgb(123, 177, 194);
  --cyan-dark-300: rgb(107, 155, 170);
  --orange-900: rgb(255, 133, 33);
  --blue-700: rgb(64, 109, 255);
  --yellow-999: rgb(250, 168, 14);
  --pink-600: rgb(255, 72, 72);
}

// Reset default styles for all elements
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
 * Set font size based on breakpoint for responsiveness
 * < 1024px: (0,9375 * 16 = 15)
 * < 792px: (0,875 * 16 = 14)
 * < 320px: (0,8125 * 16 = 13)
 */
html {
  @media (max-width: 1024px) {
    font-size: 93.75%;
  }

  @media (max-width: 792px) {
    font-size: 87.5%;
  }

  @media (max-width: 320px) {
    font-size: 81,25%;
  }
}

// Set default font and text color
body {
  color: var(--gray-900);
}

body, input, button {
  font: 400 1rem 'Open Sans', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}