.viewOptionsContent {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--gray-200);
  margin-bottom: 2rem;

  button {
    border: none;
    background-color: transparent;
    width: 1rem;
    margin-right: 0.5rem;
    opacity: 0.5;

    &.active {
      opacity: 1;
    }

    img {
      opacity: 0.8;
      width: 100%;
    }
  }

  label {
    color: var(--gray-500);
    text-transform: uppercase;
    font-weight: 800;

    select {
      margin-left: 1rem;
    }
  }
}